/*//nav bar css*/
.mr-auto, .mx-auto{

    margin-right: auto!important;
    margin-top:12px;
    margin-bottom: -10px;
}

.product-item{
    background:goldenrod;
}

.child-rows{
    padding-left: 20px;
    border-left:1px solid #dfdfdf;
    background: #fff;
}
.child-rows a.list-group-item{
    border-left: 0px!important;
}
.navbar-light {

    background-color: #943a3a;

}


.margintop20{
    margin-top:20px;
}
.feature-img{
    max-height: 200px;
}

.footer-bottom{

    padding: 20px;
    margin-top:20px;
    background-color: #943a3a;

}

